extends layout

block content
  .row.banner
    .col-12
      h1 Loc8r
      small &nbsp;Find places to work with wifi near you!

  .row
    .col-12.col-md-8
      .card.mb-3
        .card-body
          h4.card-title
            a(href="/location") Starcups
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
            span.badge.bg-danger.float-end 100m
          p.address 125 High Street, Reading, RG6 1PS
          p.facilities
            span.badge.bg-warning.text-dark.m-1 Hot drinks
            span.badge.bg-warning.text-dark.m-1 Food
            span.badge.bg-warning.text-dark.m-1 Premium wifi

      .card.mb-3
        .card-body
          h4.card-title
            a(href="/location") Cafe Hero
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            span.badge.bg-danger.float-end 200m
          p.address 125 High Street, Reading, RG6 1PS
          p.facilities
            span.badge.bg-warning.text-dark.m-1 Hot drinks
            span.badge.bg-warning.text-dark.m-1 Food
            span.badge.bg-warning.text-dark.m-1 Premium wifi

      .card.mb-3
        .card-body
          h4.card-title
            a(href="/location") Burger Queen
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            span.badge.bg-danger.float-end 500m
          p.address 125 High Street, Reading, RG6 1PS
          p.facilities
            span.badge.bg-warning.text-dark.m-1 Hot drinks
            span.badge.bg-warning.text-dark.m-1 Food
            span.badge.bg-warning.text-dark.m-1 Premium wifi

    .col-12.col-md-4
      p.lead
        | Looking for wifi and a seat? Loc8r helps you find places to
        br
        | work when out and about. Perhaps with coffee, cake or a pint?
        br
        | Let Loc8r help you find the place you're looking for.
